.cat1 {
  display: none;
}

.cat2 {
  display: none;
}

#cat-info1 {
  display: none;
}

#cat-info2 {
  display: none;
}

.panda1 {
  display: none;
}

.panda2 {
  display: none;
}

#panda-info1 {
  display: none;
}

#panda-info2 {
  display: none;
}

.dog1 {
  display: none;
}

.dog2 {
  display: none;
}

#dog-info1 {
  display: none;
}

#dog-info2 {
  display: none;
}

h1 {
  text-align: center;
  font-family: fantasy;
}

h2 {
  font-family: cursive;
}

body {
  background-image: url(https://st2.depositphotos.com/1954507/6773/v/950/depositphotos_67730933-stock-illustration-animals-cartoons-on-sky-background.jpg);
  background-size: cover;
}
