#cats, #pandas, #dogs {
  display: none;
}

h1 {
  text-align: center;
  font-family: fantasy;
}

h2 {
  font-family: cursive;
}

body {
  background-image: url(https://st2.depositphotos.com/1954507/6773/v/950/depositphotos_67730933-stock-illustration-animals-cartoons-on-sky-background.jpg);
  background-size: cover;
}
